#mainlist a
{
	display: block;
	text-decoration: none;
	color: black;
	border-collapse: collapse;
}

#mainlist td, #mainlist th
{
	padding: 5px;
}

.contrainer
{
	margin: 0 0;
}

.error
{
	float: left;
}

.navigation
{
	font-size: 1.2em;
}

.navigation ul, .navigation li
{
	list-style: none;
	margin-bottom: 0.5em;
}

img.favorite
{
	background: transparent url(/images/icons7.png) no-repeat scroll -20px 0;
	height: 15px;
	width: 15px;
	cursor:pointer;
}

img.non_favorite
{
	background: transparent url(/images/icons7.png) no-repeat scroll 0px 0;
	height: 15px;
	width: 15px;
	cursor:pointer;
}

td.favimg
{
	width: 17px;
}
td.email
{
	width: 100px;
}
td.subject
{
	width: 200px;
}